[Unit]
Description=HorizonSec Auto-Update
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/horizon-update
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
